<template name="admin">

	<div class="jumbotron">
		<h2>This is the Administrator's Panel</h2>
	</div>

	<button type="button" class="btn btn-danger" id="remove-all">Remove All</button>
	<button type="button" class="btn btn-danger" id="remove-feeds">Remove Feeds</button>
	<button type="button" class="btn btn-danger" id="remove-startups">Remove Startups</button>
	<button type="button" class="btn btn-danger" id="remove-exits">Remove Exits</button>

	<hr>

	<button type="button" class="btn btn-success" id="populate-all">Populate All</button>
	<button type="button" class="btn btn-success" id="populate-feeds">Populate Feeds</button>
	<button type="button" class="btn btn-success" id="populate-startups">Populate Startups</button>
	<button type="button" class="btn btn-success" id="populate-exits">Populate Exits</button>

	<hr>

	<button type="button" class="btn btn-success" id="populate-stages">Populate Stages</button>
	<button type="button" class="btn btn-danger" id="remove-stages">Remove Stages</button>


</template>